<p style="color: #424242; width: 100%; text-align: center">
  &lt;&lt; this list is not up-to-date  &gt;&gt;
</p>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid">
  <div *ngFor="let project of PROJECTS">
    <mat-card fxFlex="1 0 200px">
      <mat-card-title>{{project.title}}</mat-card-title>
      <mat-card-content style="max-width: 350px">
        {{project.description}}
      </mat-card-content>
      <mat-card-actions fxLayoutGap="8px">
        <a *ngFor="let link of project.links" [href]="link.url" mat-stroked-button color="primary">{{link.kind}}</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
