<h3>Status</h3>
<p>
  I am currently pursuing a Ph.D. in computer science, investigating security and privacy issues in distributed machine
  learning.
</p>

<h3>Profiles</h3>
<p fxLayoutGap="8px">
  <a href="https://www.linkedin.com/in/amit-portnoy" mat-stroked-button>
    LinkedIn
  </a>
  <a href="https://github.com/amitport" mat-stroked-button>
    GitHub
  </a>
  <a href="https://scholar.google.co.il/citations?user=2umZKagAAAAJ" mat-stroked-button>
    Scholar
  </a>
</p>

<h3>Contact</h3>
<p>
  Email me at <a rel="me" href="mailto:amit.portnoy@gmail.com">amit.portnoy@gmail.com</a>
</p>
