<header style="text-align: center;">
  <h2 fxLayout fxLayoutAlign="center center" fxLayoutGap="4px"
      style="margin: 0; padding: 0.83em 0; background: #424242; color: white;">
    <mat-icon>person_pin</mat-icon>
    <span style="font-family: Roboto Slab,serif">Amit Portnoy</span>
  </h2>
</header>

<nav mat-tab-nav-bar color="primary" mat-align-tabs="center">
  <a mat-tab-link
     *ngFor="let link of [
       {path: 'about', label: 'About me'},
       {path: 'projects', label: 'Selected personal projects'},
       {path: 'research', label: 'Research'}
     ]"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>

<div style="padding: 16px 16px 42px 16px;">
  <router-outlet></router-outlet>
</div>



