<header style="text-align: center;">
  <h2 fxLayout fxLayoutAlign="center center" fxLayoutGap="4px"
      style="margin: 0; padding: 0.83em 0; background: #424242; color: white;">
    <mat-icon>person_pin</mat-icon>
    <span style="font-family: Roboto Slab,serif">Amit Portnoy</span>
  </h2>
</header>

<div style="padding: 16px 16px 42px 16px;">
  <h3>Profiles</h3>
  <div fxLayoutGap="8px">
    <a href="https://www.linkedin.com/in/amit-portnoy" mat-stroked-button>
      LinkedIn
    </a>
    <a href="https://github.com/amitport" mat-stroked-button>
      GitHub
    </a>
    <a href="https://stackoverflow.com/users/990421" mat-stroked-button>
      Stack Overflow
    </a>
  </div>

  <h3>Selected personal projects</h3>
  <app-project-list></app-project-list>
</div>

<footer class="mat-typography" style="padding: 1.93em;" fxLayout fxLayoutAlign="start center">
  <span>Email me at <a rel="me" href="mailto:amit.portnoy@gmail.com">amit.portnoy@gmail.com</a></span>
</footer>


